@* _deadline_span.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.ParticipationWithPupil
@import deputies.event.EventDeputy
@(participation: ParticipationWithPupil)(implicit deputy: EventDeputy)
<span class="deadline-date" data-timestamp="@participation.deadline.toEpochMilli" data-locale="@deputy.getLocale"></span>

