@* _event_pills_inactive.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.Event
@import _root_.be.ugent.rasbeb2.db.dto.EventExtendedStatus._
@import controllers.event.routes
@import deputies.event.EventDeputy

@(event: Event)(implicit deputy: EventDeputy)
<ul class="nav nav-pills">
    @event.getExtendedStatus match {
       case OPEN => {
           <li class="nav-item">
               <a class="btn btn-outline-primary me-1" href="@routes.EventController.downloadSelectedPupils(event.id)">@i18n("spreadsheet.caption.download-registrations")</a>
           </li>
       }
       case CLOSED_FREE | CLOSED_BLOCKED => {
           <li class="nav-item">
               <a class="btn btn-primary" href="@routes.EventController.downloadScores(event.id)">@i18n("spreadsheet.caption.download-scores")</a>
           </li>
       }
       case _ => {
           @* no actions can be taken at this point *@
       }
    }
</ul>