@* _permissions_list.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{ClassWithPermissions, Event, Gender}
@import _root_.be.ugent.rasbeb2.db.util.PasswordGenerator
@import common.Deputy
@import controllers.event.routes
@import play.twirl.api.TwirlFeatureImports.defining
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.i18n
@import views.html.ext.{collapse, include}
@import java.util.Collection
@import views.html.event._permissions_list_aux
@(eventId: Int, classesWithPermissions: Collection[ClassWithPermissions],
        fromHome: Boolean)(implicit deputy: Deputy)
@h4("event.registrations.heading")
@if(classesWithPermissions.isEmpty){
     <div class="alert alert-warning">@i18n("event.registrations.no-classes")</div>
}else{
    @_permissions_list_aux(eventId, classesWithPermissions, fromHome)
}
