@* new_event.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.Contest
@import controllers.event.routes
@import util.AgeGroupsWithId
@import views.html.b5._
@import views.html.ext.collapse
@import util.LanguagesWithSelection
@import views.html.layout._title_with_language
@import views.html.contest._age_group_tabs
@(languages: LanguagesWithSelection, ageGroups: AgeGroupsWithId, contests:  Iterable[Contest])(implicit deputy: Deputy)
@layout.teacher("evenew") {
    @_title_with_language("event.add.title", languages, routes.EventController.listEventContests(ageGroups.id, _))

    @_age_group_tabs(ageGroups, routes.EventController.listEventContests(_, languages.code))
    <table class="table">
        @thead("common.title", "common.actions")
        <tbody>
        @foreach(contests) { contest =>
            <tr>
                <td>@contest.title</td>
                <td>
                    @collapse.button("addEventForm-" + contest.id, "event.add.caption.create")
                </td>
            </tr>
            <tr class="collapse" id="addEventForm-@contest.id">
                <td>@collapse.form(routes.EventController.addEvent(contest.id, ageGroups.id, languages.code),
                    "addEventForm-" + contest.id, "event.add.caption.add") {
                    <div class="col-auto">@b5.text(Forms.field("title", ""), "_label" -> "event.add.name", "required" -> None)</div>
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
