@* teacher_closed_event.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{Event, ParticipationWithPupil}
@import deputies.event.EventDeputy
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.i18n
@import views.html.event._
@(event: Event, participations: List[ParticipationWithPupil])(implicit deputy: EventDeputy)

@css={
    <style>td:nth-child(2) { text-align: right; }</style>
}
@layout.teacher("ecl", css=css) {
    @_event_title(event.header)
    @_event_actions(event)

    @table(participations.size) {
        <colgroup>
            <col style="width: 90%;">
            <col style="width: 10%;">
        </colgroup>
        @th("event.participations.name", "event.participations.score")
    } {
        @foreach.tr(participations) { participation: ParticipationWithPupil =>
            <td>@participation.pupilName</td>
            <td>@if(participation.isValid)(s"${participation.marks}/${participation.maxMarks}")else(i18n("event.participations.score-invalid"))</td>
        }
    }
}
