@* teacher_pending_event.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{ClassWithPermissions, Event}
@import deputies.event.EventDeputy
@import views.html.event._event_actions
@import views.html.event._permissions_list_inactive
@import views.html.event._event_title
@import views.html.event._permissions_list
@(event: Event, classesWithPermissions: Iterable[ClassWithPermissions])(implicit deputy: EventDeputy)

@layout.teacher("epnd") {
    @_event_title(event.header)
    @_event_actions(event)

    @_event_delete(event.id)

    @if(deputy.isActiveYear) {
        @_permissions_list(event.id, classesWithPermissions, true)
    } else {
        @_permissions_list_inactive(event.id, classesWithPermissions)
    }
}
