@* home_anon.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import views.html.be.ugent.caagt.play.ext.i18n
@import _root_.be.ugent.rasbeb2.db.dto.AgeGroup
@import _root_.be.ugent.rasbeb2.db.dto.ContestForAnonTable

@(contests: Collection[ContestForAnonTable], ageGroups: Iterable[AgeGroup])(implicit deputy: Deputy)

@css={
    <style>
        tr.description th {
            font-size: small;
            font-weight: normal;
        }
    </style>
}
@layout.anon("homeanon",css=css) {
    @table(contests.size,striped=false){
        <th>@i18n("pupil.home-anon.title")</th>
        @foreach(ageGroups) { ageGroup =>
          <th>@ageGroup.name</th>
        }
    } {
        <tr class="description">
            <th>&nbsp;</th>
            @foreach(ageGroups) { ageGroup =>
                <th>@ageGroup.description</th>
            }
        </tr>
        @foreach.tr(contests) { contest =>
            <td>@contest.contestTitle</td>
            @foreach(ageGroups, "td") { ageGroup =>
                @if(contest.durations.contains(ageGroup.id)) {
                    <a href=@controllers.contest.routes.AnonController.show(contest.contestId, ageGroup.id)>@i18n("pupil.enter-contest")</a>
                    <br/>@i18n("pupil.minutes-count-short", ""+contest.durations.get(ageGroup.id))
                } else {
                    @i18n("pupil.home-anon.not-available")
                }
            }
        }
    }
}
