@* participation.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@(pageId: String, js: Html = Html(""))(content: => Html)(implicit deputy: Deputy)

@css = {
    @include.css("participation")
    @include.js("iframeresize")
}

@layout.raw(pageId, css, js) {
    <div class="container-xl">
        @content
    </div>
}
