@* generatePasswordButton.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import views.html.be.ugent.caagt.play.ext.i18n
@import common.Deputy

@(id: String)(implicit deputy: Deputy)

@* NOTE: don't forget to include: include.js("generatePassword.js") in parent template *@

<div class="col-auto ms-auto align-self-start ps-0 pt-3">
    <button class="btn btn-outline-primary mt-3 ms-0" type="button" title='@i18n("school.pupil.regenerate-password")'
    onclick="generatePassword('@id', '@controllers.ajax.routes.AjaxController.generatePassword()');"><span class="fa-solid fa-rotate"></span></button>
</div>
