@* change_password.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import deputies.auth.AuthenticationDeputy
@import views.html.b5._
@(f: Form[AuthenticationDeputy.UpdatePasswordData])(implicit deputy: AuthenticationDeputy)
@layout.centered("pwdch") {
    @h3("auth.change-password.title")
    @form(action = controllers.auth.routes.AuthenticationController.changePassword()) {
        @password(f("currentPassword"), "_label" -> "auth.change-password.old-password")
        @password(f("newPassword"), "_label" -> "auth.change-password.new-password")
        @password(f("confirmPassword"), "_label" -> "auth.change-password.new-password-again")
        @submit_wide("auth.change-password.caption")
    }
}