@* reset_password.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import deputies.auth.PasswordDeputy
@import views.html.b5._
@(f: Form[PasswordDeputy.NewPasswordData], token : String)(implicit deputy : PasswordDeputy)

@layout.centered("pwdrs") {
    @h3("auth.reset-password.title")
    @form(controllers.auth.routes.PasswordController.resetPassword(token)) {
        @text(field = f("email"), "_label" -> "auth.reset-password.email")
        @password(field = f("password"), "_label" -> "auth.reset-password.password")
        @password(field = f("repeated"), "_label" -> "auth.reset-password.password-again")
        @submit("auth.reset-password.caption")
    }
}