@* _event_table.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.Event
@import controllers.event.routes
@(events: List[Event])(implicit messages: play.i18n.Messages)
@table(events.size) {
    @th("event.events.title", "event.events.language", "event.events.contest", "event.events.status", "")
} {
    @foreach.tr(events) { event =>
        <td>@event.title</td>
        <td>@LanguageInfo.get(event.lang).name</td>
        <td>@event.contestTitle</td>
        <td>@i18n("enum.status." + event.eventStatus.name)</td>
        <td><a href="@routes.EventController.getEvent(event.id)" class="btn btn-outline-primary">@i18n("event.events.details")</a></td>
    }
}