@* _age_group_tabs.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import util.AgeGroupsWithId
@(ageGroups: AgeGroupsWithId, callFor: Int => Call)

<ul class="nav nav-tabs" role="tablist">
    @foreach(ageGroups) { ag =>
        <li class="nav-item" role="presentation">
        @if(ageGroups.isSelected(ag)) {
            <button class="nav-link active" type="button" role="tab">@ag.name</button>
        } else {
            <a href="@callFor(ag.id)" class="nav-link">@ag.name</a>
        }
        </li>
    }
</ul>
