@* new_contest.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.ContestType

@import views.html.be.ugent.caagt.play.ext.i18n
@import deputies.contest.ContestSettingsDeputy.ContestData
@import views.html.b5._
@import common.Deputy
@import views.html.contest._
@(f: Form[ContestData])(implicit deputy: Deputy)

@implicitFieldBuilder=@{fieldBuilder.plain}   @* removes labels etc from form fields *@

@layout.organiser("cntnew") {
    @h3("contest.contests.new")
    @form(action = controllers.contest.routes.ContestSettingsController.newContest()) {
        <div class="card p-3">
            @_contest_type_field(f)
            <p class="mb-2">@i18n("contest.settings.translations"):</p>
            @_contest_title_fields(f,deputy.getUILanguages)
            @p("contest.settings.leave-title-blank")
            <p>@i18n("contest.settings.age-groups-later", deputy.getConfig.getString("rasbeb2.default-duration"))</p>
            @submit("common.caption.save",cl="col-2")
        </div>
    }
}