@* teacher_list_contests.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.Contest
@import common.Deputy
@import controllers.contest.routes
@import util.AgeGroupsWithId
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.foreach
@import views.html.contest._age_group_tabs
@import util.LanguagesWithSelection
@import views.html.layout._title_with_language
@(languages: LanguagesWithSelection, ageGroups: AgeGroupsWithId, contests: Iterable[Contest])(implicit deputy: Deputy)

@layout.teacher("contl") {

    @_title_with_language("contest.questions.title", languages, routes.TeacherContestController.listContestsForAgeGroup(_, ageGroups.id))
    @_age_group_tabs(ageGroups, routes.TeacherContestController.listContestsForAgeGroup(languages.code,_)) @* TODO *@

    <table class="table">
        @thead("contest.title", "common.actions")
        <tbody>
        @foreach.tr(contests) { contest =>
            <td>@contest.title</td>
            <td>
               <a class="btn btn-outline-primary" href='@routes.TeacherContestController.getContestQuestion(languages.code, contest.id, ageGroups.id, 0)'>...</a>
            </td>
        }
        </tbody>
    </table>
}
