@* teacher_list_contests.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{AgeGroup, Contest}
@import common.Deputy
@import common.LanguageInfo
@import controllers.contest.routes
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.foreach
@import views.html.contest._age_group_tabs
@(lang: LanguageInfo, languages: List[LanguageInfo],
        ageGroupId: Int, ageGroups: List[AgeGroup], contests: Iterable[Contest])(implicit deputy: Deputy)

@layout.teacher("contl") {
    @* TODO extract code common with new_event.scala.html *@
    <h3>@i18n("contest.questions.title") (@lang.name)</h3>

    @if(languages.size > 1){
        <div class="mb-2 text-end">
        @i18n("common.other-language") :
        @foreach(languages) { l =>
            @if(l.code != lang.code) {
                <span style="padding: 0 5px;"><a href="@routes.TeacherContestController.listContests(l.code, ageGroupId)">@l.name </a></span>
            }
        }
        </div>
    }

    @_age_group_tabs(ageGroupId, ageGroups, routes.TeacherContestController.listContests(lang.code,_)) @* TODO *@

    <table class="table">
        @thead("contest.title", "common.actions")
        <tbody>
        @foreach.tr(contests) { contest =>
            <td>@contest.title</td>
            <td>
               <a class="btn btn-outline-primary" href='@routes.TeacherContestController.getContestQuestion(lang.code, contest.id, ageGroupId, 0)'>...</a>
            </td>
        }
        </tbody>
    </table>
}
