@* teacher_contest.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{ContestWithAgeGroup, QuestionHeader, Question}
@import views.html.be.ugent.caagt.play.ext.i18n
@(contest: ContestWithAgeGroup, lang: String, question: Question, headers: List[QuestionHeader], showFeedback: Boolean)(implicit deputy: Deputy)

@layout.teacher("conq", css = include.js("iframeresize")) { @* css is a hack to ensure early loading of the script *@
    <div class="d-flex mt-2">
        <div class="flex-grow-0 me-2">
            <h3>@contest.contest.title</h3>
            <p>@contest.ageGroup.ageGroup.name - @contest.ageGroup.ageGroup.description</p>
            <div class="mb-2">
                <a class="btn btn-outline-secondary" href="@controllers.contest.routes.TeacherContestController.listContests(contest.ageGroup.id)">@i18n("common.caption.back")</a>
           </div>
            <div class="list-group">
                @foreach(headers) { header: QuestionHeader =>
                    <a class="list-group-item list-group-item-action @(if(header.id == question.id) "active" else "")" href="@controllers.contest.routes.TeacherContestController.getContestQuestion(contest.contestId, contest.ageGroup.id, header.id)">@header.title</a>
                }
            </div>
        </div>
        <div class="flex-fill ms-2">
            <div class="row align-items-start">
                <div class="col-auto">
                    <h3>@question.header.title</h3>
                </div>
            </div>
            @defining(deputy.getConfig().getString("rasbeb2.questions-url")) { url =>
                <div class="row">
                  <iframe id="iframeQ" src="@url/@question.magicQ/@lang/index.html" onload='postSize(this.id);'></iframe> @* filled in by JS-script *@
                </div>
                @if(showFeedback){
                    <hr>
                    <div class="row">
                      <iframe id="iframeF" src="@url/@question.magicF/@lang/index.html" onload='postSize(this.id);'></iframe>
                    </div>
                }
            }
        </div>
    </div>
}


