@* tools.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@
@import _root_.be.ugent.rasbeb2.db.dto.{Contest,ContestType,ContestStatus}
@import views.html.contest._
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.i18n
@(contest: Contest, languages: List[LanguageInfo])(implicit deputy: Deputy)

@layout.organiser("cntts") {
    @_organiser_submenu("tools", contest)

    @h4("contest.links.title")
    @p("contest.links.description")
    <p>@i18n("contest.links.label")
    @foreach(languages) { lang =>
        <span style="padding: 0 5px;"><a href="@controllers.contest.routes.ContestToolsController.listLinks(contest.id, lang.code)" target="link_list">@lang.name</a></span>
    }
    </p>

    @if(contest.status == ContestStatus.CLOSED) {
        @h4("contest.winners.title")
        <p><a href="@controllers.contest.routes.ContestToolsController.printWinners(contest.id)"
              target="_blank">@i18n("contest.winners.link")</a></p>
    }

    @if(contest.contestType == ContestType.OFFICIAL) {
        @h4("contest.copy-contest.title")
        <p>@i18n.html("contest.copy-contest.description")</p>
        <p>
        @form(controllers.contest.routes.ContestToolsController.copyContest(contest.id)) {
            @submit("contest.copy-contest.caption", tp = "outline-danger")
        }
        </p>
    }

}