@* tools.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@
@import _root_.be.ugent.rasbeb2.db.dto.{Contest,ContestType,ContestStatus,AgeGroup}
@import views.html.contest._
@import views.html.b5._
@import views.html.be.ugent.caagt.play.ext.i18n
@import views.html.layout._card
@(contest: Contest, languages: List[LanguageInfo], ageGroups: List[AgeGroup])(implicit deputy: Deputy)

@layout.organiser("cntts") {
    @_organiser_submenu("tools", contest)

    <div class="row gy-4">
    @if(contest.contestType != ContestType.PUBLIC) {
        @_card("contest.tools.participations"){
            <ul>
                <li><a href="@controllers.contest.routes.ContestToolsController.showAnomalyTools(contest.id)">@i18n("contest.anomalies.link")</a></li>
                @if(contest.status == ContestStatus.CLOSED) {
                    <li><a href="@controllers.contest.routes.ContestToolsController.printWinners(contest.id)"
                    target="_blank">@i18n("contest.winners.link")</a> (HTML)</li>
                }
                <li><a href="@controllers.contest.routes.ContestToolsController.downloadParticipationSheet(contest.id)">@i18n("contest.tools.download")</a></li>
            </ul>
        }
    }
    @_card("contest.links.title"){
        @p("contest.links.description")
        @p("contest.links.label")
        <ul>
        @foreach.li(languages) { lang =>
            <a href="@controllers.contest.routes.ContestToolsController.listLinks(contest.id, lang.code)" target="link_list">@lang.name</a>
        }</ul>
    }
    @if(contest.contestType == ContestType.OFFICIAL) {
        @_card("contest.copy-contest.title"){
            <p>@i18n.html("contest.copy-contest.description")</p>
            <p>
            @form(controllers.contest.routes.ContestToolsController.copyContest(contest.id)) {
                @submit("contest.copy-contest.caption", tp = "outline-danger")
            }
            </p>
        }
        @if(contest.status == ContestStatus.CLOSED) {
            @_card("contest.charts.title"){
                <p>@i18n.html("contest.charts.description")</p>
                <ul>
                    @foreach.li(ageGroups) { ageGroup =>
                        <a href="@controllers.contest.routes.ContestToolsController.chartMarks(contest.id, ageGroup.id)"
                           target="chart">@ageGroup.name</a>
                    }
                </ul>
            }
        }
    }
    </div>


}