@* contest_overview.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.Contest
@import views.html.be.ugent.caagt.play.ext.i18n
@(contest: Contest)(implicit deputy: Deputy)
@layout.teacher("tcno") {
    @_submenu("overview", contest)

    @i18n.html("contest.description." + contest.contestType)
    <p>@i18n("contest.status"): <b>@i18n("enum.status."+contest.status)</b></p>
    @* <div class="card p-3">@_contest_status_form(f, contest)</div> *@

}
