@* list_contests.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.caagt.dao.Page
@import _root_.be.ugent.rasbeb2.db.dto.Contest
@import views.html.be.ugent.caagt.play.ext.i18n
@import Contest.Field._
@import controllers.contest.routes

@import common.Deputy
@import util.Table
@import views.html.b5._
@(contests: Page[Contest], table: Table)(implicit deputy: Deputy)
@layout.teacher("cntl") {
    @h1("contest.contests.title")
    @paged(table, contests.getFullSize){
    }(_.columns(TITLE -> "contest.title",TYPE -> "contest.type",STATUS -> "contest.status")){
    @foreach.tr(contests.getList) { contest =>
        <td>@contest.title</td>
        <td>@i18n("enum.contest-type." + contest.contestType.name)</td>
        <td>@i18n("enum.status." + contest.status.name)</td>
        <td>
            <a class="btn btn-sm btn-outline-primary" href="@routes.TeacherContestController.getContest(contest.id)">...</a>
        </td>
    }
    }( _.searchfields(TITLE -> "contest.filter.title",TYPE -> null,STATUS -> null))
}