@* _school_all_teachers.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.User
@import views.html.b5._
@(teachers: List[User])(implicit deputy: Deputy)

@h4("school.teachers.title")
@table(teachers.size) {
    @th("school.teachers.name", "school.teachers.email", "school.teachers.status")
} {
    @foreach.tr(teachers) { teacher =>
        <td>@teacher.name</td>
        <td>@teacher.email</td>
        <td>@(if(teacher.disabled) i18n("school.teachers.inactive") else i18n("school.teachers.active"))</td>
    }
}

@collapse.button("collapsibleEmailForm", "school.teachers.register")
@collapse.form(controllers.auth.routes.RegistrationController.registerTeacher(), "collapsibleEmailForm", "auth.registration-request.caption", true){
    <div class="col-auto">@b5.text(Forms.field("email", null), "_label" -> "auth.registration-request.email", "required" -> None)</div>
}
