@* _new_question_header.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import deputies.question.QuestionDeputy
@import _root_.be.ugent.rasbeb2.db.dto.AnswerType
@import views.html.b5._

@(f: Form[QuestionDeputy.QuestionData])(implicit deputy: Deputy)

@* in file separate from new_question.scala.html because it has a different field builder *@
<div class="row">
    <div class="col-auto">@text(f("externalId"), "_label" -> "question.settings.id")</div>
    <div class="col-auto">@select(f("type"), classOf[AnswerType], "enum.answer-type", "_label" -> "question.settings.type")</div>
    <div class="col-auto">@text(f("typeExtra"), "_label" -> "question.settings.type-extra")</div>
</div>
