@* upload_questions.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import views.html.b5._
@import deputies.question.QuestionUploadDeputy
@(f: Form[QuestionUploadDeputy.LanguageData])(implicit deputy: QuestionUploadDeputy)
@layout.organiser("queupl") {
    @h3("question.upload.title")
    @form(controllers.question.routes.QuestionUploadController.uploadQuestions(), "enctype" -> "multipart/form-data") {
        @text(f("langs"), "placeholder" -> i18n("question.upload.languages-place-holder"), "size" -> 4, "_label" -> "question.upload.languages")
        @file_0("questionsFile", "_label" -> "question.upload.file")
        @submit("common.caption.upload")
    }
}