@* _answer_pane_text.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import deputies.contest.ParticipationDeputy.AnswerData
@import views.html.be.ugent.caagt.play.ext.i18n
@import views.html.b5._
@import common.Deputy
@(f: Form[AnswerData])(implicit deputy: Deputy)

@implicitFieldBuilder = @{ fieldBuilder.plain }   @* removes labels etc from form fields *@

<div class="col-auto">@i18n("pupil.answer.title")</div>
<div class="col-auto">@text(f("answer"), "autocomplete" -> "off", "size" -> 6)</div>
<div class="col-auto">@i18n("pupil.answer.leave-empty")</div>
@_colored_submit(f("answer").value)
