@* question.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import _root_.be.ugent.rasbeb2.db.dto.{Participation, QuestionHeader, QuestionInContest}
@import deputies.contest.ParticipationDeputy.AnswerData
@import deputies.contest.ParticipationDeputy
@import views.html.be.ugent.caagt.play.ext.i18n

@(f: Form[AnswerData], participation: Participation,
        question: QuestionInContest, questions: List[QuestionHeader], nextId: Int)(implicit deputy: ParticipationDeputy)

@js = {
    <script>
            let seconds = @participation.timeLeftInSeconds;
            const orange_limit = @participation.durationInSeconds / 3;
            const red_limit = orange_limit / 2;
    </script>
    @include.js("clock")
    @if(question.isInteractive){
        @include.js("interactive")
        <script>
            hiddenAnswerField = document.getElementById("hidden-answer-field");
            receiveAnswer = function(json) {
                hiddenAnswerField.value = json;
                const iframe = document.getElementById("iframeQ");
                requestModel(iframe); // will then sumit the form
            }
            hiddenModelField = document.getElementById("hidden-model-field");
            receiveModel = function(json) {
                hiddenModelField.value = json;
                hiddenModelField.closest('form').submit();
            }
            if (hiddenAnswerField.value) {
                const iframe = document.getElementById("iframeQ");
                iframe.addEventListener("load", function(event) {
                    initializeTask(iframe, hiddenAnswerField.value, hiddenModelField.value)
                });
            }
        </script>
    }
}

@layout.modal("modal-terminate", "pupil.terminate.title"){
    @i18n.html("pupil.terminate.text")
}{
    <a class="btn btn-danger" href="@controllers.contest.routes.ParticipationController.close()">@i18n("pupil.terminate.submit")</a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@i18n("pupil.terminate.cancel")</button>
}

@layout.split("part", question.title, js){ @* top right *@
    <div class="incorrect" title='@i18n("pupil.question.incorrect-answer-mark")'>@question.marksIfIncorrect</div>
    <div title='@i18n("pupil.question.no-answer-mark")'>0</div>
    <div class="correct" title='@i18n("pupil.question.correct-answer-mark")'>@question.marksIfCorrect</div>
}{ @* left *@
    <div id="clock"><span id="clock-text">00:00</span></div>
    <button type="button" class="btn btn-danger w-100 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#modal-terminate">@i18n("pupil.terminate.link")</button>
    @_question_list(questions, question.id)
}{ @* right *@
    @defining(deputy.getConfig.getString("rasbeb2.questions-url")) { url =>
        <iframe id="iframeQ" src = "@url/@question.magicQ/@participation.lang/index.html" onload='postSize(this.id);'></iframe>
    }
    @_answer_pane(f, question, nextId)
}
