@* _feedback_answer_pane.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@(answer: String)(implicit deputy: Deputy)

<div id="answer_pane" class="row g-1 bg-primary-subtle p-2 text-center">
    <span>@i18n("pupil.answer.title") @if(answer==null) {
        @i18n("pupil.answer.none")
    } else {
        <b>@answer</b>
    }</span>
</div>
